@import "colors.css";
@import "typography.css";

body {
  color: var(--text);
  font-family: var(--main);
}

footer {
  align-items: center;
  background-color: var(--footer);
  color: var(--subtext);
  display: flex;
  height: 50px;
  justify-content: center;
}

h1 {
  align-items: center;
  color: var(--nav);
  display: flex;
  font-size: 3em;
  font-weight: 700;
  height: 70vh;
  justify-content: center;
  margin: auto;
  text-shadow: 2px 2px 1px var(--text);
}

h1,
h2 {
  font-family: var(--heading);
}

html {
  scroll-behavior: smooth;
}

.about-photo {
  background: url("../images/face.jpg") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 55%;
  height: 60%;
}

.about-text {
  margin-bottom: 3em;
}

.card {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid #000;
  margin: 16px;
  min-height: 25vh;
  position: relative;
  transition: margin 0.2s ease-out;
}

.card-text {
  bottom: 24px;
  color: var(--nav);
  font-size: 1.1em;
  left: 24px;
  letter-spacing: 0.1em;
  position: absolute;
  right: 24px;
  text-shadow: 2px 2px 1px var(--text);
  z-index: 2;
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact a {
  color: var(--background2);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.container h2 {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.container p {
  padding: 0 1em;
}

.explore-image {
  background: url("../images/explore.jpg") no-repeat center;
  background-size: cover;
}

.grow-image {
  background: url("../images/grow.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 1em;
}

.in-touch {
  color: var(--subtext);
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.learn-image {
  background: url("../images/learn.jpg") no-repeat center;
  background-size: cover;
}

.link {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.link div {
  font-size: 1.7em;
}

.link p {
  padding: 0;
  margin: 0;
}

.navbar {
  align-items: center;
  display: flex;
  font-family: var(--heading);
  justify-content: center;
  height: 80px;
}

.navbar a {
  color: var(--nav);
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 2px 2px 1px var(--text);
}

.navbar-item {
  padding-right: 1em;
}

.navbar-menu {
  align-self: center;
  display: flex;
  list-style: none;
}

.section1 .container,
.section3 .container {
  background-color: var(--background2);
}

.scroll {
  align-items: center;
  border: 2px solid;
  border-radius: 50%;
  bottom: 4em;
  display: none;
  font-size: 1em;
  height: 2.5em;
  justify-content: center;
  position: fixed;
  right: 2em;
  width: 2.5em;
  z-index: 99;
}

.show {
  display: flex;
}

.welcome {
  background: url("../images/bythewater.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 600px) and (max-width: 900px) {
  .active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  .active h2 {
    transform: scale(1.3);
  }

  .active h3 {
    transform: scale(1.3);
  }

  .active p {
    font-size: 1.3em;
  }

  .contact {
    display: flex;
    justify-content: space-around;
  }

  .contact a {
    color: var(--background2);
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 1em;
  }

  .container h2 {
    display: flex;
    justify-content: center;
    padding: 1.3em;
  }

  .container p {
    padding: 0 2em;
  }

  .in-touch {
    margin-bottom: 3em;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar a {
    font-size: 1.25em;
  }

  .navbar-item {
    padding-right: 1.5em;
  }

  .services {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
  }
}

@media (min-width: 901px) {
  .about {
    display: grid;
    grid-template-columns: 30% 66%;
  }

  .about-photo {
    height: 100%;
  }

  .about-text {
    margin-bottom: 0;
  }

  .active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  .active h2 {
    transform: scale(1.3);
  }

  .active h3 {
    transform: scale(1.3);
  }

  .active p {
    font-size: 1.3em;
  }

  .card:hover {
    transform: scale(1.08) translate(-16px, -16px);
  }

  .card::after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .card:hover .card::after {
    opacity: 1;
  }

  .card::before {
    background: rgba(0, 0, 0, 0.15);
    bottom: -16px;
    content: "";
    position: absolute;
    right: -16px;
    top: 16px;
    width: 100%;
    z-index: -1;
  }

  .container {
    height: 50vh;
    margin: 1em;
  }

  .container h2 {
    display: flex;
    justify-content: center;
    padding: 1.3em;
  }

  .container p {
    padding: 0 2em;
  }

  .explore-image {
    margin-bottom: 0;
    opacity: 1;
  }

  .grow-image {
    margin-bottom: 0;
  }

  .in-touch {
    margin-bottom: 3em;
  }

  .learn-image {
    margin-bottom: 0;
  }

  .link div {
    font-size: 2em;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar a {
    font-size: 1.25em;
  }

  .navbar-item {
    padding-right: 1.5em;
  }

  .services {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
  }
}
